* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d1117;
  display: flex;
  justify-content: center;
  font-family: "Liberation Sans", sans-serif;
  color: white;
}

#content {
  max-width: min(90vw, 800px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

header img {
  width: 100%;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center; 
}

nav a {
  background: #2a2f37;
  color: white;
  text-decoration: none;
  width: 8em;
  height: 2.5em;
  margin: 0 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a.active, nav a:hover {
  background: #444951;
}

main {
  margin-top: 2em;
  flex-grow: 1;
}

a {
  color: #2f81f7;
}

.highlight {
  background-color: #2a2f37;
  padding: 0.2em 0.5em;
}

footer {
  padding: 1em;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
